<template>
    <form @submit.prevent="submit">
        <div class="form-control" v-show="false">
            <input type="text" class="form-control" v-model="id">
        </div>
        <div class="form-group">
            <label>ФИО</label>
            <input type="text" class="form-control" placeholder="фио" v-model="name">
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input type="file"
                       class="custom-file-input"
                       id="customFile"
                       @change="onAttachmentChange">
                <label class="custom-file-label" for="customFile">{{ fileName }}</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</template>

<script>
    import {get} from "../get";
    import {form} from "../form";

    export default {
        name: "UserCreated",
        data() {
            return {
                nameController: 'user',
                id: null,
                name: null,
                img: null,
                fileName: "Выбрите файл",
                statusList: [],
            }
        },
        mixins: [get, form],
        methods: {
            loadingForm: function (data) {
                this.id = data.id;
                this.name = data.name;
            },
            isValid: function () {
                if (this.name === null || this.name.length === 0) {
                    alert("Введите имя");
                    return false;
                }
                return true;
            },
            getForm: function () {
                const formData = new FormData();
                formData.append('name', this.name);
                if (this.img !== null && this.img.length !== 0)
                    formData.append('img', this.img);
                if (this.id !== null && this.id.length !== 0)
                    formData.append('id', this.id);
                return {
                    formData: formData,
                    config: {'content-type': 'multipart/form-data'}
                }
            },
            onAttachmentChange(e) {
                this.img = e.target.files[0];
                this.fileName = this.img.name;
            }
        },
        created: function () {
            let id = this.get('id');
            if (id !== false) {
                this.findForm(id);

            }
        }
    }
</script>

<style scoped>

</style>
