<template>
    <div>
        <div class="form-group">
            <router-link class="btn btn-outline-success" :to="{ name: 'userCreated' }">Добавить</router-link>
        </div>
        <div class="form-group">
           <grid :name="name" :filter="filter"></grid>
        </div>
    </div>
</template>

<script>
    import Grid from "../grid/Grid";

    export default {
        name: "User",
        components: {Grid},
        data: function () {
            return {
                name: "user",
                filter: [
                    {
                        name: 'name',
                        label: "ФИО",
                        value: null,
                        type: "string"
                    }
                ]
            }
        },

    }
</script>

<style scoped>

</style>
