<template>
    <div>
        <template v-if="!loading">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <img class="img-user" :src="form.img" @error="errorImg">
                </div>
                <div class="col-lg-8 col-12">
                    <h3>{{ form.name }}</h3>
                    <router-link class="btn btn-success" :to="'/'+nameController+'/created?id='+form.id">Редактировать</router-link>
                    <a href="javaScript:void(0)" class="btn btn-danger" v-on:click="deleteUser">Удалить</a>
                </div>
            </div>
        </template>
        <template v-else>
            <loading size="sm"></loading>
        </template>
    </div>
</template>

<script>
    import {get} from "../get";
    import {form} from "../form";
    import Loading from "../Loading";

    export default {
        name: "UserInfo",
        components: {Loading},
        mixins: [get, form],
        data() {
            return {
                nameController: 'user',
                form: null,
                loading: true,
                error: false
            }
        },
        methods: {
            errorImg: function(e) {
                e.target.src = '/uploads/no-image.png'
            },
            loadingForm: function (data) {
                this.form = data;
                this.loading = false;
            },
            deleteUser: function(){
                this.delete(this.form.id);
            }
        },
        created: function () {
            let id = this.get('id');
            if (id !== false) {
                this.findForm(id);
            } else {

            }
        }
    }
</script>

<style scoped>
    .img-user{
        max-width: 200px;
    }

</style>
