<template>
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <router-link class="nav-link" to="/">Главная</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'user' }">Пользователи</router-link>
            </li>
            <li class="nav-item">
                <router-link class="nav-link" :to="{ name: 'task' }">Задачи</router-link>
            </li>
        </ul>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "App"
    }
</script>

<style scoped>

</style>
