<template>
    <div class="flex-center">
        <span v-bind:class="classSpan"></span>
    </div>
</template>

<script>
    export default {
        name: "Loading",
        props: {
            size: null
        },
        computed: {
            classSpan: function () {
                let classSpan = ["loading-spinner"];
                if (this.size !== null)
                    classSpan.push(this.size);
                return classSpan;
            }
        }
    }
</script>

<style scoped>
    .flex-center {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loading-spinner {
        content: '';
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-animation: loading-spinner-anim 1s linear infinite;
        animation: loading-spinner-anim 1s linear infinite;
        box-shadow: 0.9pt 0 0 #1d3f72;
    }

    span.loading-spinner {
        display: inline-block;
        margin: 0 10px;
    }

    .loading-spinner.sm {
        width: 50px;
        height: 50px;
    }

    .loading-spinner.md {
        width: 75px;
        height: 75px;
    }

    .loading-spinner.lg {
        width: 100px;
        height: 100px;
    }

    .loading-spinner.reverse {
        animation-direction: reverse;
    }

    @keyframes loading-spinner-anim {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes loading-spinner-anim {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        50% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    /* Конец спинера */
</style>
