<template>
    <form @submit.prevent="submit">
        <div class="form-control" v-show="false">
            <input type="text" class="form-control" v-model="id">
        </div>
        <div class="form-group">
            <label>Названия</label>
            <input type="text" class="form-control" placeholder="Имя" v-model="name">
        </div>
        <div class="form-group">
            <label>Описания</label>
            <textarea class="form-control" v-model="descriptions"></textarea>
        </div>
        <div class="form-group">
            <template v-if="statusList !== null">
                <label>Статус</label>
                <select class="form-control" v-model="status_id">
                    <template v-for="item in statusList">
                        <option :value="item.id">{{ item.name }}</option>
                    </template>
                </select>
            </template>
            <template v-else>
                <loading></loading>
            </template>
        </div>
        <div class="form-group">
            <template v-if="userList !== null">
                <label>Пользователи</label>
                <div class="row">
                    <div class="col-8">
                        <select class="form-control" v-model="activeUser">
                            <template v-for="item in userList">
                                <option :value="item.id">{{ item.name }}</option>
                            </template>
                        </select>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-primary" v-on:click="addUser">Добавить</a>
                    </div>
                </div>
                <div class="alert alert-secondary mt-2" v-if="userListActive.length >0">
                    <h5>Выбранные пользователи</h5>
                    <ul>
                        <li v-for="item in userListActive">
                            {{ item.name }}
                        </li>
                    </ul>
                </div>
                <div v-else class="alert alert-primary mt-2" role="alert">
                    Выберите пользователей
                </div>
            </template>
            <template v-else>
                <loading></loading>
            </template>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</template>

<script>
    import {get} from "../get";
    import {form} from "../form";
    import Loading from "../Loading";

    export default {
        name: "TaskCreated",
        components: {Loading},
        data: function () {
            return {
                nameController: 'task',
                id: null,
                name: null,
                descriptions: null,
                status_id: 1,
                statusList: null,
                userList: null,
                userListActive: [],
                activeUser: null

            }
        },
        mixins: [get, form],
        methods: {
            loadingForm: function (data) {
                this.name = data.name;
                this.descriptions = data.descriptions;
                this.status_id = data.status_id;
                this.userListActive = data.user;
            },
            loadingStatus: function () {
                let self = this;
                axios.get("/api/task/status")
                    .then(function (resp) {
                        self.statusList = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Ошибка загрузка списка");
                    });
            },
            loadingUser: function () {
                let self = this;
                axios.get("/api/user")
                    .then(function (resp) {
                        self.userList = resp.data;
                    })
                    .catch(function (resp) {
                        alert("Ошибка загрузка списка");
                    });
            },
            isValid: function () {
                if (this.name === null || this.name.length === 0) {
                    alert("Введите Навзания задачи");
                    return false;
                }
                return true;
            },
            getForm: function () {
                const formData = new FormData();
                if (this.id !== null && this.id.length !== 0)
                    formData.append('id', this.id);
                formData.append('name', this.name);
                formData.append('descriptions', this.descriptions);
                formData.append('status_id', this.status_id);
                let user_id = [];
                for (let index in this.userListActive) {
                    user_id.push(this.userListActive[index].id);
                }

                formData.append('user_id', user_id);
                return {
                    formData: formData,
                    config: {'content-type': 'multipart/form-data'}
                }
            },
            addUser: function () {
                if (this.activeUser === null) return;
                let is = true;
                for (let index of this.userListActive) {
                    if (index.id === this.activeUser) {
                        is = false;
                        break;
                    }
                }
                if (is) {
                    this.userListActive.push(this.userList.find((item) => {
                        return item.id === this.activeUser;
                    }))
                }

            }
        },
        created: function () {
            let id = this.get('id');
            if (id !== false) {
                this.findForm(id);
            }

            this.loadingStatus();
            this.loadingUser();
        }
    }
</script>

<style scoped>

</style>
