<template>
    <div>
        <template v-if="!loading">
            <div class="row">
                <div class="col-12">
                    <h3>{{ form.name }}</h3>
                    <router-link class="btn btn-success" :to="'/'+nameController+'/created?id='+form.id">Редактировать</router-link>
                    <a href="javaScript:void(0)" class="btn btn-danger" v-on:click="deleteUser">Удалить</a>
                </div>
                <div class="col-12">
                    <label>Описания:</label>
                    <div>
                        {{ form.descriptions }}
                    </div>
                </div>
                <div class="col-12">
                    <label>Пользователи:</label>
                    <div class="alert alert-secondary mt-2" v-if="form.user.length >0">
                        <ul>
                            <li v-for="item in form.user">
                                {{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div v-else class="alert alert-primary mt-2" role="alert">
                        не выбраны
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <loading size="sm"></loading>
        </template>
    </div>
</template>

<script>
    import {get} from "../get";
    import {form} from "../form";
    import Loading from "../Loading";

    export default {
        name: "TaskInfo",
        components: {Loading},
        mixins: [get, form],
        data() {
            return {
                nameController: 'task',
                form: null,
                loading: true,
                error: false
            }
        },
        methods: {
            errorImg: function(e) {
                e.target.src = '/uploads/no-image.png'
            },
            loadingForm: function (data) {
                this.form = data;
                this.loading = false;
            },
            deleteUser: function(){
                this.delete(this.form.id);
            }
        },
        created: function () {
            let id = this.get('id');
            if (id !== false) {
                this.findForm(id);
            } else {

            }
        }
    }
</script>

<style scoped>
    .img-user{
        max-width: 200px;
    }

</style>
