<template>
    <div>
        <template v-if="filter !== null">
            <fieldset>
                <legend>Фильтры</legend>
                <div v-for="item in filter">
                    <label>{{ item.label }}</label>
                    <input v-model="item.value" class="form-control">
                </div>
                <div class="form-group text-right mt-2">
                    <a href="javaScript:void(0)" class="btn btn-primary" v-on:click="updateFilter">Отфильтровать</a>
                </div>
            </fieldset>
        </template>
    </div>
</template>

<script>
    export default {
        name: "GridFilter",
        props: {
            filter: null
        },
        methods: {
            updateFilter: function () {
                this.$emit('updateFilter');
            }
        }
    }
</script>

<style scoped>
    legend {
        width: auto;
        color: gray;
    }

    fieldset {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>
