<template>
    <div>
        <template v-if="list.length === 0">
            <div class="alert alert-warning" role="alert">
                Нет данных для отображения
            </div>
        </template>
        <template v-else>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" v-for="label of listLabel">
                        {{ label }}
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="index in list">
                    <tr>
                        <td v-for="key in getKey(index)">
                            {{ index[key] }}
                        </td>
                        <td>
                            <router-link class="btn btn-primary btn-sm btn-block" :to="'/'+nameController+'/created?id='+index.id">
                                Редактировать
                            </router-link>
                            <router-link class="btn btn-success btn-sm btn-block" :to="'/'+nameController+'/info?id='+index.id">Просмотр
                            </router-link>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
    export default {
        name: "GridTabs",
        props: {
            list: {
                type: Array,
                default: function () {
                    return []
                }
            },
            listLabel: {
                type: Array,
                default: function () {
                    return []
                }
            },
            nameController: null
        },
        methods: {
            getKey: function (index) {
                if (typeof index !== "object") return [];
                return Object.keys(index)
            }
        }
    }
</script>

<style scoped>

    .grid-icon:before {
        font-family: "Trebuchet MS", sans-serif;
    }

    .grid-icon.edit:before {
        content: "\270E";
    }


</style>
