<template>
    <div>
        <grid-filter :filter="filter" v-on:updateFilter="getList"></grid-filter>
        <template v-if="!loadingList">
            <grid-tabs :list="list" :list-label="listLabel" :name-controller="name"></grid-tabs>
        </template>
        <template v-else>
            <loading size="sm"></loading>
        </template>
    </div>
</template>

<script>
    import Loading from "../Loading";
    import GridTabs from "./GridTabs";
    import {lanMixin} from "../lan";
    import GridFilter from "./GridFilter";

    export default {
        props: {
            name: null,
            filter: null
        },
        name: "Grid",
        components: {GridFilter, Loading, GridTabs},
        mixins: [lanMixin],
        data: function () {
            return {
                list: [],
                loadingList: false
            }
        },
        computed: {
            listLabel: function () {
                let listLabel = [];
                if (this.list.length > 0) {
                    if (typeof this.list[0] !== "object") return [];
                    let lan = this.lan[this.name];
                    for (let KeyLabel of Object.keys(this.list[0])) {
                        if (KeyLabel in lan)
                            KeyLabel = lan[KeyLabel];
                        listLabel.push(KeyLabel);
                    }
                }
                return listLabel;
            }
        },
        methods: {
            getList: function () {
                let self = this;
                this.loadingList = true;
                let url = "/api/" + this.name;
                if (this.filter !== null && Array.isArray(this.filter)) {
                    let p = [];
                    for (let item of this.filter) {
                        if (item.value === null || item.value.length === 0) continue;
                        p.push(item.name + "=" + item.value)
                    }
                    if (p.length > 0)
                        url += "?" + p.join("&");
                }
                axios.get(url)
                    .then(function (resp) {
                        self.list = resp.data;
                        self.loadingList = false
                    })
                    .catch(function (resp) {
                        alert("Ошибка загрузка списка");
                    });
            }
        },
        created() {
            this.$on('updateFilter');
            this.getList()
        }
    }
</script>

<style scoped>

</style>
